body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
.section1 {
  display: flex;
}
.section2 {
  display: flex;
}
.section4 {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.img1 img {
  width: 100%;
}
.img2 img {
  width: 100%;
}
.img3 {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.link-button {
  color: white;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
}
.div1 {
  background-image: url(images/top-banner.png);
}
.div2 {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right, bottom;
  padding-right: 120px;
  margin-left: -120px;
  margin-top: -50px;
}
.section2 {
  margin-top: 150px;
}
.box {
  width: 45%;
  height: 400px;
  box-shadow: 10px 10px 40px gray;
  margin: 2.5% 4%;
  padding-left: 50px;
}
.box1 {
  border-left: 7px solid red;
}
.box2 {
  border-left: 7px solid blue;
}
h2 {
  font-size: 40px;
}
footer p {
  text-align: center;
}
